@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Global styling */
:root{
    --nav-box-shadow:white;
    --nav-box-shadow-light:rgba(255, 255, 255, 0.6);
    --box-background:rgba(255, 255, 255, 0.15);
    --box-border:3px solid rgba(255, 255, 255, 0.25);
    --error-red:rgba(184, 39, 39, 0.616);
    --font:black;
    --sidebar-font-size:0.8vw;
    --reply-font:calc(0.5vh + 0.5vw);
    --reply-line:calc(2vh + 2vw);
    --navbar-font-size:15px;
    --navbar-title-size:1.3vw;
    --box-border-radius:25px;
}


body{
    background:black;
    color:white;
    font-family:"Arial";
    margin:0;
}


h1{font-size:1.3vw; font-weight:400; font-family:"Audiowide";}
h2{font-size:0.95vw; font-weight:400;}
h3{font-size:0.65vw; font-weight:400;}
p{font-size:0.75vw; font-weight:375;}

a{
    text-decoration:none;
    color:white;
}

/* Navbar */
.navbar{
    display:flex;
    gap:1em;
    padding:0.5em 0;
    background-color:black;
}

.left-navbar-group{
    display:flex;
    gap:1em;
}

.title{
    font-size:var(--navbar-title-size);
    font-weight:600;
    border:none;
}

.nav-right{
    margin-left:auto;
    display:flex;
    gap:10px;
}

/* Buttons */

.admin-users-button a{
    color:black;
}

.top-button,
.top-button-active{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.6em;
    font-weight:600;
    color:white;
    font-family:"Audiowide";
    border:none;
    font-size:var(--navbar-font-size) !important;
    background:black;
}

.top-button-active, 
.top-button:hover{
    box-shadow:0 10px 10px -5px var(--nav-box-shadow);
    clip-path: inset(0 0 -5px 0);
}


.post-button-right{
    height:2.8em;
    width:2.8em;
    padding:0.5em;
    margin:0 0.7em 1.5em 0.7em;
    border-radius:var(--box-border-radius);
    border:1px solid white;
    color:black;
}

.post-button-right:hover{
    border-color:rgb(110,110,110);
}

.reply-button a{
    font-weight:550;
}

.follow-button{
    background:var(--box-background);
    border:var(--box-border);
    padding:2vh;
}

/* Input boxes */

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
    font-family: 'Roboto Mono', monospace;
}

input::placeholder {
    color: rgba(255,255,255,0.6);
}

.top-input-box,
.input-box{
    border-radius:20px;
    border:none;
    color:white;
}

.top-input-box{
    width:10%;
    height:2.4em;
    padding:0.5em;
    margin:0 0.7em 1.5em 0.7em;
    color:black;
}

.input-box{
    width:97.5%;
    padding:0.8em;
    margin-left:0.7em;
    color:black;
}

/* Login/register */

.account-container {
    background: var(--box-background);
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.login-button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    transition: 0.2s;
}

/* Posts */

.post-text h1,
.post-text h2,
.post-text h3 {
    display:inline-block;
    margin-right:10px;
}

.post-container{
    width:46vw;
    display:grid;
    grid-template-columns:4fr 1fr;
    margin:2em 2em 0 2em;
    background:rgba(255, 255, 255, 0.2);
    border:2px solid rgba(255,255,255,0.25);
    padding:1em;
    border-radius:var(--box-border-radius);
    color:white;
}


.post-container h1,
.post-container-home h1{
    font-weight:700;
    margin:0;
}


.post-img img{
    width:100%;
    border-radius:15px;
    aspect-ratio:1/1;
    object-fit:cover;
}

.centered-content{
    margin-top:5em;
    display:grid;
    place-items:center;
    padding-bottom:5em;
}

.new-post-container{
    border-radius:20px;
    background:rgba(220, 220, 220, 0.15);
    padding:2em;
    width:70%;
    border:3px solid rgba(255, 255, 255, 0.25);
}

.home-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.like-button{
    background-color:rgba(0, 0, 0, 0);
    color:#a7a7a7;
    border:none;
    cursor:pointer;
}

.like-button h1{
    margin-right:auto;
}

/* New post header */

.top-box{
    display:flex;
    gap:2em;
    align-items:center;
}

.top-box .post-button-right{
    margin-left:auto;
    display:flex;
    justify-content:center;
    align-items:center;  
}

/* Categories */

.category-box{
    padding:0.2em 0.3em;
}

/* Dropdowns */


.dropdown-content{
    display:none;
    position:absolute;
    background:var(--box-background);
    border:2px solid rgba(255, 255, 255, 0.25);
    border-radius:var(--box-border-radius);
    min-width:140px;
    z-index:1;
    overflow:hidden;
    transition:height 0.14s ease;
}

.dropdown-content a{
    font-weight:500;
    display:block;
    padding:10px;
    transition:all 0.3s ease;
}

.dropdown-content a:hover{
    background:white;
    color:black;
}

.dropdown button{
    font-size:var(--navbar-font-size) !important;
}

.dropdown{
    padding-top:2em;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.category-dropdown{
    border:none;
    border-radius:20px;
    height:2.4em;
    padding:0.5em;
    margin:1.4em 0 0 0.7em;
    color:rgb(120,120,120);
}

/* Post replies */

.reply-box{
    border-radius:var(--box-border-radius);
    background:var(--box-background);
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    border:1px solid rgba(255,255,255,0.25);
    padding:1em;
    font-size:var(--reply-font);
    margin:1em 0 2em 0;
    color:white;
    font-size:0.7cqi;
    min-width:10vw;
    max-width:35vw;
}

.reply-decoration{
    display:flex;
    justify-content:center;
    transform:translateX(-2em);
}

.line{
    height:var(--reply-line);
    width:var(--reply-line);
    border-left:3px solid rgba(255,255,255,0.25);
    border-bottom:3px solid rgba(255,255,255,0.25);
    border-bottom-left-radius:25px;
}

.newpost-reply{
    width:40%;
    display:grid;
    grid-template-columns:2fr 1fr;
    margin:4em 2em 0 2em;
    background:rgb(200, 200, 200);
    margin-bottom:2em;
    border:3px solid #0866FF;
    border-radius:20px;
    padding:1em;
    color:black;
}

.newpost-reply-line{
    width:2px;
    border-left:2px solid rgba(255, 255, 255, 0.25)
}

.newpost-text{
    display:inline;
}

.reply-to-content{
    display:grid;
    place-items:center;
}

/* sidebars */

.home-sidebar {
    width:100%;
    padding:1em;
    margin-left:1vw;
    border-radius:var(--box-border-radius);
    background:var(--box-background);
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    border:1px solid rgba(255,255,255,0.25);
    display:flex;
    flex-direction:column;
    margin-bottom:2em;
    gap:1vh;
    font-size:1em;
}

.home-sidebar a{
    color:white;
}

.home-sidebar h3{
    margin-left:1em;
}

.sidebar-section{
    display:flex;
    align-items:center;
    height:3.5em;
    padding:0 1.2em;
    border-radius:15px;
    font-weight:600;
    cursor:pointer;
    transition:all 0.3s ease;
    position:relative;
    background:rgba(255, 255, 255, 0.25);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
    transition:height 0.3s ease-in-out;
    font-size:var(--sidebar-font-size);
}

.sidebar-section:hover{
    background:rgba(255, 255, 255, 0.5);
    transform:translateX(5px);
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.home-container{
    display:grid;
    grid-template-columns:1fr 5fr;
    gap:1em;
    height:100%;
    align-items:start;
}

.total-sidebar{
    margin-top:5em;    
}

.home-sidebar:hover .sidebar-section{
    display:flex;
}

/* admin panel */

.admin-container{
    width:80%;
    background:var(--box-background);
    border:2px solid rgba(255, 255, 255, 0.25);
    border-radius:var(--box-border-radius);
    padding:1em;
}

.admin-users {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* various containers */
.userposts-header{
    display:flex;
    align-items:center;
    gap:1em;
    border:3px solid rgba(255, 255, 255, 0.15);
    border-radius:var(--box-border-radius);
    background:var(--box-background);
    padding:1em;
}

.userposts-header img {
    aspect-ratio:1 / 1;
    border-radius:50%;
    object-fit:cover;
    max-height:100px;
}

/* live chat styling */
.chat-input-box{
    background:var(--box-background);
    border:var(--box-border);
    border-radius:var(--box-border-radius);
    padding:1em;
}

.chat-centered-content{
    display:grid;
    place-items:center;
}

.chat-box{  
    background:var(--box-background);
    border:var(--box-border);
    width:80%;
    padding:1em;
    margin-top:0;
    gap:1em;
    height:80vh;
    max-height:60%;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
}

.chat-input{
    outline:none;
    height:100%;
    color:black;
    border-radius:var(--box-border-radius);
    border:none;
}

.chat-spacer{
    margin-top:1em;
}

/* messages/errors */
.error{
    background:var(--error-red);
    color:white;
    border-radius:var(--box-border-radius);
    padding:0.5em 1em;
    font-family:"Roboto Mono";
}

.content-404{
    background:var(--box-background);
    border:var(--box-border);
    margin:3vw 10vw;
    padding:1vw;
    text-align:center;
    border-radius:var(--box-border-radius);
    font-size:10em;
}