@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.title-bar{
    background-color: black;
    color: white;
    padding: 0.5em;
    display: flex;
    align-items: left;
    gap: 1em;
}

.navbar {

    display: flex;
    justify-content: center;
    color: white;
    gap: 1em;
    background-color: black;
}

.top-button {   
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 25px;
    background-color: black;
    height: 3em;
    font-size: 1em;
    text-decoration: none;
    margin: 1em;
    padding: 0.6em;
    font-weight: 500;
}

.top-button:hover {
    background-color: rgb(110, 110, 110)
}

.top-dropdown{
    background-color: black;

}

body{
    background-color: rgb(0, 0, 0)
}

.post-container{
    display: grid;
    margin: 2em;
    grid-template-columns: 2fr 1fr;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 1em;
     border: 1px solid white;
}

.post-img img{
    height: 100%;
    border-radius: 15px;
}

.post-container h1{
    font-weight: 700;
    margin: 0px;
}

.post-container h2{
    font-size: 1em;
    margin: 0px;
}

.centered-content{
    margin-top: 12em;
    display: grid;
    place-items: center;
}

.top-box{
    display: flex;
    gap: 2em;
    align-items: center;
}

.top-box .post-button-right{
    margin-left: auto;
}

.top-input-box{
    width: 10%;
    height: 2.4em;
    padding: 0.5em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    border-radius: 20px;
    background-color: black;
    margin-bottom: 1.5em;
}

.top-input-box::placeholder, .input-box::placeholder{
    color: white;
}

.input-box{
    border-radius: 20px;
    width: 100%;
    padding: 0.8em;
    margin-left: 0.7em;
    background-color: black;
}

.top-input-box,
.input-box {
    color: white;
    border: 1px solid white;
}

.new-post-container{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid white;
    padding: 2em;
    width: 70%;
}

.post-button-right{
    height: 2.4em;
    padding: 0.5em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    border-radius: 20px;
    background-color: black;
    margin-bottom: 1.5em;
    border: 1px solid white;
    background-color: white;
    color: black;
}

.post-button-right:hover{
    border: 1px solid rgb(110, 110, 110)
}

.category-dropdown{
    background-color: rgb(46, 46, 46);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 2.4em;
    padding: 0.5em;
    margin-left: 0.7em;
    margin-top: 1.4em;
    color: rgb(120, 120, 120)
}

.dropdown{
    background-color: black;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.dropdown-content a:hover {
    background-color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}