@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* Global styling */

body{
    background:#3c4043;
    color:#0866FF;
}

a{
    text-decoration:none;
    color:white;
}

/* Navbar */

.title-bar,
.navbar{
    display:flex;
    align-items:center;
    gap:1em;
    padding:0.5em;
}

.left-navbar-group{
    display:flex;
    align-items:center;
    gap:1em;
}

.left-navbar-group > *:not(:first-child){
    max-width: 0;
    overflow: hidden;
    opacity: 0;
    white-space: nowrap;
    transition: all 0.1s ease;
}

.left-navbar-group:hover > *:not(:first-child){
    max-width: 150px;
    opacity: 1;
}
    /*
    opacity:0;
    transform:translateY(-2em);   
    transition:transform 0.3s ease, opacity 0.3s ease;
}

.navbar:hover{
    display:flex;
    align-items:center;
    gap:1em;
    padding:0.5em;
    opacity:1;
    transform:translateY(0);  
    transition:transform 0.3s ease, opacity 0.3s ease;
}
*/

.nav-right{
    margin-left:auto;
    display:flex;
    gap:10px;
}

/* Buttons */

.top-button{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:25px;
    height:3em;
    font-size:1em;
    margin:0.5em;
    padding:0.6em;
    font-weight:600;
    border:none;
    color:#0866FF;
    background-color: rgba(255, 255, 255, 0.8);
    border:1px solid rgba(255,255,255,0.2);
}

.top-button:hover{
    background:#0866FF;
    color:white;
}

.post-button-right{
    height:2.8em;
    width:2.8em;
    padding:0.5em;
    margin:0 0.7em 1.5em 0.7em;
    border-radius:25px;
    border:1px solid white;
    color:black;
}

.post-button-right:hover{
    border-color:rgb(110,110,110);
}

.reply-button{
    margin-top:2em;
    border-radius:25px;
    padding:0.6em;
    background:#0866FF;
}

.reply-button a{
    font-weight:550;
}

/* Input boxes */

.top-input-box,
.input-box{
    border-radius:20px;
    border:none;
    color:white;
}

.top-input-box{
    width:10%;
    height:2.4em;
    padding:0.5em;
    margin:0 0.7em 1.5em 0.7em;
    color:black;
}

.input-box{
    width:100%;
    padding:0.8em;
    margin-left:0.7em;
    color:black;
}

.top-input-box:hover,
.input-box:hover{
}

/* Login/register */

.login-box,
.login-button{
    height:2.4em;
    padding:0.5em;
    border-radius:20px;
    border:none;
    color:rgb(110,110,110);
}

.login-button{
    color:rgb(110,110,110);
}

.login-container{
    border-radius:25px;
    background:rgba(220, 220, 220, 0.5);
    padding:2em;
}

.block{
    margin-top:12em;
}

/* Posts */

.post-text h1,
.post-text h2,
.post-text h3 {
    display:inline-block;
    margin-right:10px;
}

.post-text h3{
    font-size:1em;
}

.post-container{
    width: 50vw;
    display:grid;
    grid-template-columns:4fr 1fr;
    margin:4em 2em 0 2em;
    background:#d0d0d0;
    border:3px solid #0866FF;
    padding:1em;
    color:black;
}


.post-container h1,
.post-container-home h1{
    font-weight:700;
    margin:0;
    font-size:2em;
}

.post-container h2,
.post-container-home h2{
    margin:0;
    font-size:1em;
}

.post-img img{
    width:100%;
    border-radius:15px;
    aspect-ratio:1/1;
    object-fit:cover;
}

.centered-content{
    margin-top:5em;
    display:grid;
    place-items:center;
}

.new-post-container{
    border-radius:20px;
    background:rgba(220, 220, 220, 0.5);
    padding:2em;
    width:70%;
    border:3px solid #0866FF;
}

.home-title{
    display:grid;
    place-items:center;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-button{
    background-color: rgba(0, 0, 0, 0);
    color:#a7a7a7;
    border: none;
}

.like-button:hover{
    color: #FE2C55;
}

/* New post header */

.top-box{
    display:flex;
    gap:2em;
    align-items:center;
}

.top-box .post-button-right{
    margin-left:auto;
}

/* Categories */

.category-box{
    padding:0.2em 0.3em;
}

.cat-title{
    padding-top:2em;
    display:grid;
    place-items:center;
}

.cat-title h1{
    font-weight:600;
}

/* Dropdowns */

.dropdown{
    border:none;
}

.dropdown-content{
    display:none;
    position:absolute;
    background:#0866FF;
    border-radius:25px;
    min-width:160px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:1;
    overflow:hidden;
}

.dropdown-content a{
    font-weight:500;
    display:block;
    padding:10px;
    transition:all 0.3s ease;
}

.dropdown-content a:hover{
    background:white;
    color:#0866FF;
    transition:all 0.3s ease;
}

.dropdown:hover .dropdown-content{
    display:block;
}

.category-dropdown{
    border:none;
    border-radius:20px;
    height:2.4em;
    padding:0.5em;
    margin:1.4em 0 0 0.7em;
    color:rgb(120,120,120);
}

/* Post replies */

.reply-box{
    background:rgb(210, 210, 210);
    border-radius:20px;
    border:3px solid #0866FF;
    padding:1em;
    margin:1em 0 2em 0;
    color:black;
}

.reply-decoration{
    display:flex;

}

.line{
    height:4em;
    width:4em;
    border-left:3px solid #0866FF;
    border-bottom:3px solid #0866FF;
    border-bottom-left-radius:25px;
}

.newpost-reply{
    width:40%;
    display:grid;
    grid-template-columns:2fr 1fr;
    margin:4em 2em 0 2em;
    background:rgb(200, 200, 200);
    margin-bottom:2em;
    border:3px solid #0866FF;
    border-radius:20px;
    padding:1em;
    color:black;
}

.newpost-text{
    display:inline;
}

.home-sidebar {
    width:100%;
    padding:1em;
    border-radius:25px;
    background:rgba(255, 255, 255, 0.15);
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    border:1px solid rgba(255,255,255,0.25);
    display:flex;
    flex-direction:column;
    gap:0.5em;
    font-family:'Segoe UI', sans-serif;
    margin-bottom: 2em;
}

.home-sidebar a{
    color:white;
}

.home-sidebar h3{
    margin-left: 1em;
}

.sidebar-section{
    display:flex;
    font-size: 0.75cqi; /* sets font width to 7.5% of parent containers inline width */
    align-items:center;
    height:3.5em;
    padding:0 1.2em;
    border-radius:15px;
    font-weight:600;
    cursor:pointer;
    transition:all 0.3s ease;
    position:relative;
    background:rgba(255, 255, 255, 0.25);
    border:1px solid rgba(255,255,255,0.2);
    color:white;
}

.sidebar-section:hover{
    background:rgba(255, 255, 255, 0.5);
    transform:translateX(5px);
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.home-container{
    display:grid;
    grid-template-columns:1fr 5fr;
    gap:1em;
    height:100%;
    align-items:start;
}

.total-sidebar{
    margin-top: 5em;    
}
/*
    opacity:0;
    transform:translateX(-60%);
    transition:transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.total-sidebar:hover{
    opacity:1;
    transform:translateX(0)
} */