{% extends "layout.html" %}
{% block body %}
<div class="centered-content">
    <div class="admin-container">
        <h1 class="cat-title">Admin panel</h1>
        <br><h2>Users</h2>
        {% for row in users %}
        <p class="admin-users"?>
            @{{row[0]}}<br>
            {{row[1]}}<br>
            <button class="admin-users-button" style="margin-left:auto">
                <a href="/userposts/{{row[0]}}">Profile</a>
            </button>
            <button class="admin-users-button">
                <a href="/block/{{row[3]}}">Block</a>
            </button>
        </p>
        {% endfor %}
    <br><h2>Following rls</h2>--------------------------------------<br>
        {% for row in followers %}
            <p>@{{row[1]}} &#8594 @{{row[0]}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}