{% extends "layout.html" %}
{% block body %}
    {# 'results' is a list of rows returned from the category query, each row is a tuple #}
    {% if results %}
        {# get the category name from the first row's fifth element #}
        {% set title = results[0][4] %}
        <div class="cat-title">
        <h1>{{ title }}</h1>
        </div>
    {% endif %}
    <div class="centered-content">
        {% for item in results %}
            <a href="{{ url_for('post', id=item[5]) }}" class="post-container">
                <div class="post-text">
                    <h2 class = 'category-box'>category: {{item[4]}} | {{item[6][10:]}}</h2>
                    <h1>{{item[0]}}</h1>
                    <h3>{{item[2]}}</h3>
                    <h2>{{item[1]}}</h2>
                </div>
                <div class="post-img">
                    <img src="{{item[3]}}" alt="{{item[0]}}">
                </div> 
            </a>
        {% endfor %}
    </div>
{% endblock %}