{% extends "layout.html" %}
{% block body %}
<div style="height:15vh;"></div>
<div class="content-404">
    {{error}}
    {% if error == 404 %}
        <h1>the URL you've entered is not valid :(</h1>
        <h2>"{{request.path}}"</h2> 
    {% elif error == 505 %}
        <h1>HTML version not supported</h1>
        <h2>run arch</h2>
    {% elif error == 403 %}
        <h1>Insufficient priviliges</h1>
        <h2>just ask to be an admin. brutal. </h2>
    {% elif error == "User not found" %}
        <h1>The user specified in the URL is not registered. </h1>
        <h2>Maybe you should get them to register ...</h2>
    {% elif error == 405 %}
        <h1>Method not allowed...</h1>
        <h2>Just use the buttons so nicely provided to you</h2>
    {% endif %}
</div>
{% endblock %}