{% extends "layout.html" %}
{% if results %}
    {% block body %}

    {% set item = results[0] %} {# most recent post #}

    {% if item[5][:10] == today %}
    {% set time = "Today," + item[5][10:] %}
    {% else %}
    {% set time = item[5] %}
    {% endif %}

    <div class="home-container">
        <!-- left sidebar -->
        <div class="total-sidebar">
            <!-- updates section -->
            <div class="home-sidebar">
                <h3><b>Updates</b></h3>
                {% for i in range(8) %}
                <div class="sidebar-section">
                    {% set post = results | selectattr('8', 'equalto', i) | list | first %}
                    <!-- find the most recent post with the cat.id -->
                    {% if post %}
                    <a href="{{ url_for('category', id=post[8]) }}">
                        @{{ post[2] }} posted in {{ post[4] }}: "{{ post[0][:15] }}..."
                    </a>
                    {% else %}
                    <p>No new posts</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <!-- users section -->
            <div class="home-sidebar">
                <h3><b>Users</b></h3>
                {% for user in users %}
                <a href="{{ url_for('userposts', username=user[1]) }}" class="sidebar-section">




                    @{{ user[1] }}
                    {# goes through users table and prints each user #}
                    {% if user[1] == session['username'] %}
                    (you)

                    {# if the current user[1] in the loop is the logged in user, tell them that #}

                    {% endif %}

                    {% set ns = namespace(postsnumber=0) %}
                    {# make a namespace to stop naming conflictions #}
                    {% for post in results %}
                    {% if post[2] == user[1] %}
                    {% set ns.postsnumber = ns.postsnumber + 1 %}

                    {# for each post by a user, add 1 to their total posts #}

                    {% endif %}
                    {% endfor %}
                    -
                    {% if ns.postsnumber > 1 or ns.postsnumber < 1 %} {{ ns.postsnumber }} posts {% else %} {{
                        ns.postsnumber }} post {% endif %} {# correct grammar for different numbers #} </a>
                        {% endfor %}
            </div>
        </div>

        <div class="centered-content">
            <div class="home-wrapper">
                <h1>most recent post</h1>
                <a href="{{ url_for('newpost', id=item[6]) }}" class="post-container">
                    <div class="post-text">
                        <h2 class='category-box'>category: {{item[4]}} | {{item[5][10:]}}</h2><br>
                        <h1>{{item[0]}}</h1>
                        <h3>@{{item[2]}}</h3><br>
                        <h2>{{item[1]}}</h2>
                    </div>
                    {% if item[3] %}
                    <div class="post-img">
                        <img src="{{ item[3] }}" alt="{{ item[0] }}">
                    </div>
                    {% endif %}
                    {% set postlikes = 0 %}
                    {% set ns = namespace(postlikes=0) %}
                    {% for row in likes %}
                    {% if row[1] == item[6] %}
                    {% set ns.postlikes = ns.postlikes + 1 %}
                    {% endif %}
                    {% endfor %}

                    {% if session['username'] %}
                    <form action="/like/{{ item[6] }}" method="POST">
                        <button type="submit" class="like-button">
                            <h1>♡</h1>{{ns.postlikes}}
                        </button>
                    </form>
                    {% else %}
                    <form action="/login">
                        <button type="submit" class="like-button">
                            <h1>♡</h1>{{ns.postlikes}}
                        </button>
                    </form>
                    {% endif %}
                </a>

                {# Only show reply if there actually is one #}
                {% if item[7] %}
                {% for post in results %}
                {% if post[6] == item[7] %}
                <div class="reply-decoration">
                    <div class="line"></div>
                    <a class="reply-box" href="{{ url_for('newpost', id=item[7]) }}">
                        <div class="post-text">
                            <p>Replying to <i>{{ post[2] }}</i></p>
                            <p>{{ post[0] }}</p>
                            <p>{{ post[1] }}</p>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>

    {% endblock %}
{% endif %}