<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Outfit">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Messages</title>
</head>
<body>
    <!-- shared navbar -->
     <nav class="navbar">
        <a href="/" class="top-button">Home</a>
        <a href="/newpost" class="top-button">New post</a>
        <!-- dropdown menu for categories -->
        <div class="dropdown">
            <button class="top-button">Categories</button>
            <div class="dropdown-content">
             <a href="/category/0">Misc</a>
             <a href="/category/1">Science</a>
             <a href="/category/2">Math</a>
             <a href="/category/3">English</a>
             <a href="/category/4">History</a>
             <a href="/category/5">Digitech</a>
    </div>
</div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>