{% extends "layout.html" %}

{% block body %}
<div class="centered-content">
    <div style="height:16vh"></div>
    <div class="account-container">
        <h1>Login</h1>
        {% if blacklist %}
            <p class="error" onclick="this.style.display='none'">ⓘ account blocked. naughty</p>
        {% elif notadmin %}
            <p class="error" onclick="this.style.display='none'">ⓘ admin account required </p>
        {% elif incorrectpw %}
            <p class="error" onclick="this.style.display='none'">ⓘ incorrect password</p>
        {% elif incorrectuser %}
            <p class="error" onclick="this.style.display='none'">ⓘ user '{{faileduser}}' does not exist</p>
        {% endif %}
        <form method="POST"> <!-- tells app.py the method="POST" -->
            <input type="text" name="username" placeholder="Username" maxlength="20" required>
            <input type="password" name="password" placeholder="Password" maxlength="20" required>

            <button type="submit" class="login-button">Login</button>
        </form>
        <h3 style="text-align:center;">
            <br>Don't have an account?<br>
            <a style="text-decoration:none; font-weight:700; "href="/register">
                sign up here!
            </a>
        </h3>
    </div>
</div>
{% endblock %}