{% extends "layout.html" %}

{% block body %}
<div class="centered-content">
    <div style="height:16vh"></div>
    <div class="account-container">
        <h1>Login</h1>
        {% if blacklist %}
            <p class="error">ⓘ Error - account blocked </p>
        {% elif notadmin %}
            <p class="error">ⓘ Error - admin account required </p>
        {% endif %}
        <form method="POST"> <!-- tells app.py the method="POST" -->
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="password" placeholder="Password" required>

            <button type="submit" class="login-button">Login</button>
    </form>
    </div>
</div>
{% endblock %}