{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">

<div class="centered-content">
    <div style="height:16vh"></div>
    <div class="account-container">
        <h1>Register</h1>
        {% if inuse %}
            <p class="error" onclick="this.style.display='none'">ⓘ username or email already taken </p>
        {% endif %}
        <form method="POST">
            <input type="text" name="username" placeholder="Username" maxlength="20" required>
            <input type="password" name="password" placeholder="Password" minlength="8" maxlength="20" required>
            <input type="email" name="email" placeholder="Email" maxlength="40" required>
            <input type="text" name="imageurl" placeholder="Profile Image URL (optional)">

            <button type="submit" class="login-button">Create Account</button>
        </form>
    </div>
</div>
{% endblock %}