{% extends "layout.html" %}
{% block body %}
<div class="centered-content">
    <div class="userposts-header">
        <img src="{{profilepic}}" alt="profile picture">
        <h1>
            {% if username == session.get('username') %}
            Your
            {% endif %}
            (@{{ username }})'s posts
        </h1>
        </img>

        {% if following == True %}
        <a class="follow-button" href="/unfollow/{{userid}}">Following</a>
        {% else %}
        <a class="follow-button" href="/follow/{{userid}}">Follow</a>
        {% endif %}
    </div>
    {% if not results %}
    <p class="error">No posts</p>
    {% endif %}
    {% for item in results %}
    <a href="{{ url_for('newpost', id=item[5]) }}" class="post-container">
        <!-- Puts the post in a clickable centered element -->

        <div class="post-text">
            <h2 class='category-box'>category: {{item[4]}} | {{item[6][10:]}}</h2><br>
            <h1>{{item[0]}}</h1> {# post title #}
            <h3>@{{item[2]}}</h3><br> {# name #}
            <h2>{{item[1]}}</h2> {# post content #}
        </div>

        <div class="post-img">
            <img src="{{item[3]}}" alt="{{item[0]}}">
        </div>
    </a>
    {% if item[7] %}
    {% for post in results %}
    {% if post[5] == item[7] %}
    <div class="reply-decoration">
        <div class="line">
        </div>
        <a class="reply-box" href="{{ url_for('newpost', id=item[7]) }}"> <!-- puts the reply in a clickable div -->
            <div class="post-text">
                <p>Replying to <i>{{post[2]}}</i></p>
                <p>{{post[0]}}</p>
                <p>{{post[1]}}</p>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}